# ArvanCloud S3 / AWS S3 Compatible Storage Configuration
ARVAN_ENDPOINT=https://s3.ir-thr-at1.arvanstorage.ir
ARVAN_ACCESS_KEY=your_arvan_access_key
ARVAN_SECRET_KEY=your_arvan_secret_key
ARVAN_BUCKET_NAME=your_bucket_name
